<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="Landing.css">
    </head>
    <body>

        <h1>Where We Stopping?</h1>
        <form action="{% url 'create_room_post' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="create_room" value="Create a room!" />
        </form>

        <form action="{% url 'join_room' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="submit_join_room" value="Join room!" />
        </form>
    </body>
</html>
