{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'roomsession/Landing.css' %}">
    </head>
    <body>

        <h1>Where We Stopping?</h1>
        <a href = {% url 'create_room' %}>
            <button>Create a room!</button>
        </a>

        <form action="{% url 'join_room' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="submit_join_room" value="Join room!" />
        </form>
    </body>
</html>
