{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'roomsession/RestaurantPreferences.css' %}">
        <title>Enter your preferences</title>
    </head>
    <body>
        <div class="top">
            <img class="logo" src="{% static 'images/Logo_Assest-02_Orange' %}" alt="Logo">
            <div class="navigation">
                <ul class="nav_bar">
                    <li class="nav_elt">
                        <a>Help</a>
                    </li>
                    <li class="nav_elt">
                        <a>About</a>
                    </li>
                </ul>
            </div>
        </div>
        <form action="{% url "access_room" room_id=room_id %}" method="post">
            {% csrf_token %}
            {{ user_creation_form }}
            <input type="submit" name="submit_enter_preferences" value="submit" />
        </form>
    </body>
</html>