{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'roomsession/RoomCreation.css' %}">
        <title>Room Creation</title>
    </head>
    <body>
        <div class="top">
            <img class="logo" src="{% static 'images/Logo_Assest-02_Orange' %}" alt="Logo">
            <div class="navigation">
                <ul class="nav_bar">
                    <li class="nav_elt">
                        <a>Help</a>
                    </li>
                    <li class="nav_elt">
                        <a>About</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mid">
            <h1>Where would you like to go?</h1>

            <form action="{% url 'create_room' %}" method="post">
                {% csrf_token %}
                {{ room_creation_form }}
                <div class="button_div">
                    <input class="button_2" type="submit" name="submit_join_room" value="submit" />
                </div>
            </form>
        </div>
    </body>
</html>
